<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <%- meta %>

        <title>Jerax Services: <% if (typeof  page_title === "string" && page_title !== '') { %> | <%= page_title %><% } %></title>

        <!-- <link rel="shortcut icon" type="image/png" href="/images/favicon.png?v=<%= TEMPLATE_VERSION %>" /> -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <% if(typeof is_live === "boolean" && is_live) { %>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <% } else { %>
            <link rel="stylesheet" href="/plugins/bootstrap/bootstrap-5.3.2.min.css">
        <% } %>

        <link rel="stylesheet" href="/plugins/waitMe/waitMe.1.19.min.css">

        <!-- Font Awesome core CSS and JS -->
        <link rel="stylesheet" href="https://d3eist5doc7549.cloudfront.net/packages/fontawesome/6.3.0/css/all.min.css">
        <script src="https://d3eist5doc7549.cloudfront.net/packages/fontawesome/6.3.0/js/all.min.js"></script>
        <!-- Font Awesome core CSS and JS End -->

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/css/style.css?v=<%= TEMPLATE_VERSION %>">
        <!-- Custom styles for this template End -->

        <script>

            <% if(typeof errors === "object") { %>
                errors = <%- JSON.stringify(errors) %>;
            <% } else if(typeof errors === "string") { %>
                errors = '<%=errors%>';
            <%}%>
            <% if(typeof _flash === "object") { %>
                flash_errors = <%- JSON.stringify(_flash) %>;
            <% } else if(typeof _flash === "string") { %>
                flash_errors = '<%=_flash%>';
            <%}%>
        </script>

        <%- style %>
    </head>

    <body class="main-layout <% if (typeof  selected_page ==='string'){ %><%= selected_page %><% } %>">

        <!-- main page content -->
        <div class="default_layout_wrapper">
            <div class="header-inner-pages">
                <div class="top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="flat-information">
                                    <li class="phone">
                                        <a href="tel: +234-000000000"><i class="fa-solid fa-phone-volume"></i> Call us: +234-000000000</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto: support@jeraxservice.com" title="Email address"><i class="fa-solid fa-envelope"></i>Email: support@jeraxservice.com</a>
                                    </li>
                                </ul>
                                <div class="style-box text-right">
                                    <ul class="flat-information v1">
                                        <li class="facebook">
                                            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                                        </li>
                                    </ul>
                                    <div class="question">
                                        <div>
                                            <i class="fa-solid fa-circle-question"></i>
                                            <p class="text">Have any questions</p>
                                        </div>
                                    </div>
                                    <div class="box-text text-right">
                                        <a href="#!" data-bs-toggle="modal" data-bs-target="#appointmentModal"><p>Get An Appointment</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-slider">
                <header id="header" class="header style-color clearfix">
                    <div class="container">
                        <div class="header-wrap clearfix">
                            <div id="logo" class="logo">
                                <a href="/" rel="home">
                                    <img src="images/logo.png" alt="brand logo">
                                </a>
                            </div>

                            <div class="nav-wrap">
                                <div class="btn-menu">
                                    <span></span>
                                </div>
                                <!-- //mobile menu button -->

                                <nav id="mainnav" class="mainnav">
                                    <ul class="menu">
                                        <li class="home">
                                            <a href="/">Home</a>
                                        </li>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/services">Services</a>
                                            <ul class="submenu">
                                                <li><a href="/services/engineering_technology">Engineering Technology</a></li>
                                                <li><a href="/services/talent_outsourcing">Talent Outsourcing</a></li>
                                                <li><a href="/services/tax_consultation">Tax Consulting</a></li>
                                                <li><a href="/services/business_consultation">Business Consultation</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/team">Team</a></li>
                                        <li><a href="/training">Training</a>
                                            <ul class="submenu">
                                                <li><a href="/training/onsite">Onsite Training</a></li>
                                                <li><a href="/training/online">Online Training</a></li>
                                                <li><a href="/training/aveva_e3d">Aveva E3D</a></li>
                                                <li><a href="/training/aace_courses">AACE Courses</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <%- body %>
           
        </div>
        <%- include('../partials/modals/appointment_modal'); %>

        <% if(typeof is_live === "boolean" && is_live) { %>
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" integrity="sha256-UnTxHm+zKuDPLfufgEMnKGXDl6fEIjtM+n1Q6lL73ok=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <% } else { %>
            <script src="/plugins/jquery/jquery-3.7.1.min.js"></script>
            <script src="/plugins/jquery/jquery-migrate-3.4.1.min.js"></script>
            <script src="/plugins/jquery/popper-2.11.8.min.js"></script>
            <script src="/plugins/bootstrap/bootstrap-5.3.2.min.js"></script>
        <% } %>

        <script type="text/javascript" src="/plugins/waitMe/waitMe.1.19.min.js"></script>
        <script type="text/javascript" src="/plugins/bootbox/bootbox.6.0.0.min.js"></script>
        <script src ="/js/common.js?v=<%= TEMPLATE_VERSION %>"></script>
        <script src ="/js/base.js?v=<%= TEMPLATE_VERSION %>"></script>

        <script src="/js/homepage.js"></script>
        <% if (typeof selected_page === 'home_page') { %>
            <script src="/js/homepage.js"></script>
        <% } %>

        <%- script %>

    </body>

</html>